* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

div.wrapper {
  background-image: url(./components/images/background/theSimpsonsFamily.jpg);
}

.container-fluid > .card {
  background: #fcdfff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

img {
  height: 250px;
  width: 175px;
  overflow: hidden;
  text-align: center;
  /* background: #6caddc; */
}
.card > .img-container > img {
  width: 60%;
}
